---
title: "Contact"
description: "Contact Anastasia Betkina Photography for inquiries, bookings, and more. Get in touch with us today!"
permalink: "/contact/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-984">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/ContactF.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/ContactF.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/ContactF.jpg" alt="friends" width="904" height="754">
        </picture>
        <div class="cs-right">
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Make Appointment</h2>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-587-984" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-587-984" name="name" placeholder="First, Last">
                </label>
                <label class="cs-label">
                    Phone
                    <input class="cs-input" required type="text" id="phone-587-984" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Email
                    <input class="cs-input" required type="email" id="email-587-984" name="email" placeholder="Email">
                </label>
                <label class="cs-label">
                    Type of Event
                    <select class="cs-input cs-select" required id="event-type-587-984" name="event-type">
                        <option value="" disabled selected>Select event type</option>
                        <option value="wedding">Wedding</option>
                        <option value="elopement">Elopement</option>
                        <option value="engagement">Engagement & Couples</option>
                        <option value="lifestyle">Lifestyle</option>
                    </select>
                </label>
                <label class="cs-label">
                    Event Date
                    <input class="cs-input" required type="date" id="Date-587-984" name="event-date">
                </label>
                <label class="cs-label">
                    Venue
                    <input class="cs-input" required type="text" id="Venue-587-984" name="Venue" placeholder="Venue name">
                </label>
                <label class="cs-label">
                    Event Location
                    <input class="cs-input" required type="text" id="location-587-984" name="event-location" placeholder="City, State">
                </label>
                <label class="cs-label cs-message">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-587-984" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid1 cs-submit" type="submit">Schedule Appointment</button>
            </form>
        </div>
    </div>
</section>
              
{% include "sections/cta.html" %}

{% endblock %}