---
title: "Portfolio"
description: "Portfolio of work by Anastasia Betkina, a wedding photographer based in Northern Virginia. View her elegant and timeless wedding photography style."
permalink: "/portfolio/"
image: "OPTIONAL - If an image path is specified here, it will be used for that page's OG image. Useful for blog posts (implemented as standard with this kit)"
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
    <link rel="stylesheet" href="/assets/css/portfolio.css">
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->

    <!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-2250">
    <div class="cs-container">
        <div class="cs-content">
            <br>
            <h2 class="cs-title">PORTFOLIO</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/portfolio/JuliaAndGaren/" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Wedding</span>
                        <h3 class="cs-h3">
                            Julia and Garren
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Portfolio1.jpg/">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/Portfolio1.jpg/">
                        <img loading="lazy" decoding="async" src="/assets/images/Portfolio1.jpg/" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item cs-shift">
                <a href="/portfolio/AnthonyAndAriel/" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Lifestyle</span>
                        <h3 class="cs-h3">
                            Anthony and Ariel
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Portfolio2.jpg/">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/Portfolio2.jpg/">
                        <img loading="lazy" decoding="async" src="/assets/images/Portfolio2.jpg/" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="/portfolio/TianaAndC/" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Engagement</span>
                        <h3 class="cs-h3">
                            Tiana & C
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/TianaAndC/2.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/TianaAndC/2.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/TianaAndC/2.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="/portfolio/AlenaAndBrad/" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Lifestyle</span>
                        <h3 class="cs-h3">
                            Alena and Brad
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/AlenaAndBrad/5.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/AlenaAndBrad/5.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/AlenaAndBrad/5.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item cs-shift">
                <a href="/portfolio/DanielAndYara/" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Wedding</span>
                        <h3 class="cs-h3">
                            Daniel and Yara
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/DanielAndYara/33.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/DanielAndYara/33.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/DanielAndYara/33.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="/portfolio/SamAndJerry/" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Lifestyle</span>
                        <h3 class="cs-h3">
                            Sam and Jerry
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/SamAndJerry/21.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/SamAndJerry/21.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/SamAndJerry/21.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="/portfolio/ClareAndBrian/" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Lifestyle</span>
                        <h3 class="cs-h3">
                            Clare and Brian
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ClareAndBrian/2.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ClareAndBrian/2.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ClareAndBrian/2.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item cs-shift">
                <a href="/portfolio/LaurenAndEmaon/" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Wedding</span>
                        <h3 class="cs-h3">
                            Lauren and Emaon
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/LaurenAndEmaon/73.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/LaurenAndEmaon/73.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/LaurenAndEmaon/73.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="/portfolio/AriAndMichael/" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Wedding</span>
                        <h3 class="cs-h3">
                            Ari and Michael
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/AriAndMichael/21.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/AriAndMichael/21.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/AriAndMichael/21.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>
                                

        {% include 'sections/cta.html' %}
{% endblock %}